* {
    margin: 0;
    padding: 0;
	
}
body{
    font-family: 'PT Sans',sans-serif;
}
.about{
    margin: auto;
    width:80%;
}
.title{ 
    text-align: center;
    font-size: 70px;
    font-weight: bold;
}
.subtitle{
    text-align: center;
    font-size: 40px;

}
.list{
    display: flex;
    flex-direction: row;
}
.list{
    margin-top: 1%;
    margin: 25px auto;
    width: 100%;

}

.list img{
    width: 20%;
    padding-left: 5px;
}
fieldset {
    border: 3px solid;
  }
  
 
  form{
      width: 80%;
      margin: auto;
  }